[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = "*"
pymysql = "*"
alembic = "*"
cryptography = "*"
pyjwt = "*"
boto3 = "*"
passlib = {extras = ["bcrypt"], version = "*"}
email-validator = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.12"
